{%  extends 'base.html.twig' %}

{%  block body %}

    {{ form(form) }}
    <p>Hello</p>
    <div></div>


    <script src="//code.jquery.com/jquery-2.1.0.min.js"></script>
    <script>
        $(document).ready(function(){
            $("p").click(function(){
                $(this).hide();
            });

        });
    </script>
{% endblock %}