{% block body %}
    <form class="form-horizontal form-new-product">
        <fieldset>
            <!-- Text input-->
            <div class="form-group">
                <label class="col-md-4 control-label" for="title">Product title</label>
                <div class="col-md-5">
                    <input id="title" name="title" placeholder="Hawaii pizza with tomatoe sauce" class="form-control input-md" required="" type="text">

                </div>
            </div>
            <!-- Text input-->
            <div class="form-group">
                <label class="col-md-4 control-label" for="link">Product link</label>
                <div class="col-md-6">
                    <input id="link" name="link" placeholder="http://www.chilipica.lt/products/pizzas/hawaii.html" class="form-control input-md" type="text">
                    <span class="help-block">(optional)</span>
                </div>
            </div>

            <!-- Text input-->
            <div class="form-group">
                <label class="col-md-4 control-label" for="price">Price</label>
                <div class="col-md-2">
                    <input id="price" name="price" placeholder="2.49eu" class="form-control input-md" required="" type="text">

                </div>
            </div>

            <!-- Text input-->
            <div class="form-group">
                <label class="col-md-4 control-label" for="quantity">Quantity</label>
                <div class="col-md-2">
                    <input id="quantity" name="quantity" placeholder="2" class="form-control input-md" required="" type="text">

                </div>
            </div>
            <div class="col-md-4">
                <button id="submit" name="submit" class="btn btn-info btn-submit-product">Submit</button>
            </div>

        </fieldset>
    </form>

{% endblock %}
