{% extends 'base.html.twig' %}

{% block body %}
    {{ include('default/navbar.html.twig') }}
    <div class="container">
        {% for i in range(1, count) %}
            <div class="col-sm-6 col-md-3 summary-container">

            </div>

        {% endfor %}

    </div>

{% endblock %}
{% block stylesheets %}

{% endblock %}