{% extends 'base.html.twig' %}

{% block body %}
    {{ include('default/navbar.html.twig') }}






    <div class="container">


    </div>

{% endblock %}
{% block stylesheets %}
    <style>


    </style>


{% endblock %}