<div class="container">
    {# TODO: add real logo #}
    <div class="col-md-3"><img class="logo" src="http://www.synesisitltd.com/images/call_centre.gif"/></div>
    <div class="col-md-9">
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                    <ul class="nav navbar-nav nav-tabs nav-justified">
                        <li><a href="{{ path('orders_open') }}">Open orders</a></li>
                        <li><a href="{{ path('orders_create') }}">Create order</a></li>
                        <li><a href="{{ path('user_history') }}">My history</a></li>
                        <li><a href="/logout">Logout</a></li>
                    </ul>
            </div>
        </nav>
    </div>
</div>