{% extends 'base.html.twig' %}
{% block body %}
    {{ include('default/navigation_bar.html.twig') }}
    <div class="container">
        {% for order in orders %}
            {{ include('default/order.html.twig') }}
        {% endfor %}
    </div>
    <div class="container text-center">
        <br>
        {% if page_number != 1%}<a class="btn btn-danger text-center" href="{{ path('orders_open', {'page_number': page_number-1, 'per_page' : per_page  }) }}">Previous page</a>{% endif %}
        {% if orders|length == 12 %}<a class="btn btn-success text-center" href="{{ path('orders_open', {'page_number': page_number+1, 'per_page' : per_page }) }}">Next page</a>{% endif %}
        <br>
    </div>

{% endblock %}
